################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LukeNet/FileContentIndex/2a35bdd4-d789-4dca-8ec2-4003eae7fe69.vsidx
/.vs/LukeNet/v17/.suo
